/* HEADER*/
header{
    background-color: var(--black-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0rem;
    z-index: 2022;
    border-bottom: inset var(--primary-color);
}

header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header .container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32rem;
}

header .container nav .menu li{
    margin-right: 4.8rem;
    transition: all 0.2s;
}

header .container nav .menu li a{
    color: var(--primary-color);
    transition: all 0.2s;
}

header .container nav .menu li a:hover{
    color: var(--white-color);
    transform: translateY(-8%);
}

header .container nav .menu-social{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 35rem;
    gap:3.4rem
}

header .container nav .menu-social li{
    cursor: pointer;
    transition: all 0.2s;
}

header .container nav .menu-social li:hover{
    transform: translateY(-8%);
}

header .container nav .menu-social li a{
    color: var(--primary-color);
}

header .container nav .menu-social li a:hover{
    color: var(--white-color);
}

/* Section hero*/

.s-hero{
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.s-hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 5.8rem;
}

.s-hero .container .title-box h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
}

.s-hero .container .title-box h1 span{
    color:var(--primary-color);
}

.s-hero .container .title-box h2{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1.3rem;

}

.s-hero .container .title-box p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: var(--second-color);
}

.s-hero .container .title-box .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
}
.s-hero .container .title-box .techs img{
    transition: all 0.2s;
}

.s-hero .container .title-box .techs img:hover{
    transform: translateY(-12%);
}

.s-hero .container .title-box .btn-primary{
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

.s-hero .container .table{
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 7rem;
    margin-top: 4rem;
    padding-bottom: 5.8rem;
}

.s-hero .container .table .t-users{
    border: outset;
    border-color: var(--primary-color);
    background-color: var(--black-color-medium);
    border-radius: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.s-hero .container .table .t-users .btn-primary{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem 4.3rem;
}

.s-hero .container .table .t-users .btn-primary.delete{

    color: var(--black-color-medium);
    margin-bottom: 2rem;
}


/* SECTION EDIT USER*/

.s-edit {
    padding-top: 4rem;
    padding-bottom: 13rem;
    margin-top: 10rem;
}

.s-edit .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-edit .container .title-edit{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 34.3rem;
}

.s-edit .container .form-edit{
    width: 100%;
    max-width: 40rem;
    display: inline;
}

.s-edit .container .form-edit .input-group{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.s-edit .container .form-edit .input-group .form-image{
    display: none;
}

.s-edit .container .form-edit .input-group .form-label-image{
    background-color: rgba(30,144,255,0.8);
    color: var(--primary-color);
    border: outset;
    border-radius: 1rem;
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.s-edit .container .form-edit .input-group .form-label-image:hover{
    background-color: var(--white-color);
    transform: scale(1.04);
}
/*SECTION CREATE*/

.s-create-client{
    padding-top: 4rem;
    padding-bottom: 13rem;
    margin-top: 10rem;
}

.s-create-client .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-create .container .title-create{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 34.3rem;
}

.s-create-client .container .form-create{
    width: 100%;
    max-width: 40rem;
}

.s-create-client .container .form-create .input-group{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.s-create-client .container .form-create .input-group .form-image{
    display: none;
}

.s-create-client .container .form-create .input-group .form-label-image{
    background-color: rgba(30,144,255,0.8);
    color: var(--primary-color);
    border: outset;
    border-radius: 1rem;
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.s-create-client .container .form-create .input-group .form-label-image:hover{
    background-color: var(--white-color);
    transform: scale(1.04);
}

/*  LOGIN */
.s-login {
    padding-top: 4rem;
    padding-bottom: 13rem;
    margin-top: 10rem;
}

.s-login .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-login .container .title-login{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 34.3rem;
}

.s-login .container .form-login{
    width:100%;
    max-width: 48.6rem ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:3.1rem;
}

.s-login .container .form-login .input-group input[type="text"],
.s-login .container .form-login .input-group input[type="password"]{
    margin-bottom: 1rem;
    
}

.input-button{
    justify-content: flex-end;
}

.btn-primary{
    
    margin: 1rem;
}

/*SECTION REGISTER*/

.s-register {
    padding-top: 4rem;
    padding-bottom: 13rem;
    margin-top: 15rem;
}

.s-register .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-register .container .title-register{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 34.3rem;
}

.s-register .container .form-register{
    width:100%;
    max-width: 48.6rem ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:3.1rem;
}

.s-register .container .form-register .input-group input[type="text"],
.s-register .container .form-register .input-group input[type="password"]{
    margin-bottom: 1rem;
    
}

.input-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input-button .btn-primary{
    margin: 1rem;
}

/* Section Clients*/

.s-client .container .alert {
    padding: 20px;
    background-color: #009b00; 
    color: white;
    margin-bottom: 15px;
}
  
  /* The close button */
.s-client .container .alert .closebtn {
    margin-left: 15px;

    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
  /* When moving the mouse over the close button */
.s-client .container .alert .closebtn:hover {
    color: black;
}

.s-client{
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.s-client .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-client .container .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 5.8rem;
}

.s-client .container .title-box h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
}

.s-client .container .title-box h1 span{
    color:var(--primary-color);
}

.s-client .container .title-box h2{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1.3rem;

}

.s-client .container .title-box p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: rgba(220, 246, 75, 0.8);
}
.s-client .container .create-client{
    margin-right: 100rem;
    white-space: nowrap;
}

.s-client .container .btn-primary{
    
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

.s-client .container .table{
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 7rem;
    margin-top: 4rem;
    padding-bottom: 5.8rem;
}

.s-client .container .table .t-clients{
    border: outset;
    border-color: var(--primary-color);
    background-color: var(--black-color-medium);
    border-radius: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.s-client .container .table .t-users .btn-primary{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem 4.3rem;
}

.s-client .container .table .t-users .btn-primary.delete{

    color: var(--black-color-medium);
    margin-bottom: 2rem;
}

/* Footer */

footer{
    background-color: var(--black-color);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copy {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    line-height: 2.4rem;
    padding: 5.2rem;
    text-align: center;
}

footer .container .copy .badge-base a{
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
}

footer .container .copy .badge-base a:hover{
    transform: translateY(-8%);
    color: var(--primary-color);
}
